style.css
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}
.menu {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.btn-item {
  margin-left: 15px;
}

.photo {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 10px;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.photo:hover {
  transform: scale(1.05);
}

.menu-items {
  display: flex;
  margin: 20px 0;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.menu-items:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.menu-info {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

h4 {
  color: #e00a00;
}

.menu-text {
  padding-top: 20px;
}